{% extends "base.html" %} {% block content %}
<div class="container">
    {% for basket in baskets %}
    <div class="row">   
        <div class="col-sm-8">
            <h1>{{basket.name}}</h1>
            <h2>£{{basket.price}}</h2>
        </div>
        <div class="col-sm-4">
            <p>Quantity: {{basket.quantity}}</p>
            <form action="/removed" method="post">
                <input type="hidden" name="basket_id" value={{basket.basket_id}}>
                <input type="submit" name="submit" value="Remove from cart">
            </form>
        </div>
    </div>
    {% endfor %}
    <form action="/removed_all" method="post">
        <input type="submit" name="submit" value="Remove all from cart">
    </form>
    <h1>Total Price: £{{total_price}}</h1>
</div>
{% endblock %}
